:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --dark-grey-color: #212121;
    --light-gray-color: #757575;
    --blue-color: #2196f3;
    --dirty-white-color: #f5f4fa;
    --gray-color: #2f303a;
    --btn-blue-color: #188ce8;
    --header-border: #ececec;
    --team-icon: #afb1b8;
    --examples-text: #eeeeee;
}