.benefits {
padding-top: 60px;
padding-bottom: 60px;

@media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.benefit__list {
    


     @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

                @media screen and (min-width: 1200px) {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    gap: 30px;
                }
}

.benefit__item {
   @media screen and (max-width: 767px) {
        
        &:nth-child(-n+3) {
            margin-bottom: 30px;
        }
    }
        
        @media screen and (min-width: 768px) {
                width: 354px;
                margin-bottom: 0px;
            }

            @media screen and (min-width: 1200px) {
                width: 270px;
                margin-bottom: 0px;
            }
}

.benefit__title {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--dark-grey-color);
        margin-bottom: 10px;

        text-align: center;
}

.benefit__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-gray-color);
}

.benefit__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dirty-white-color);
    
    width: 450px;
    height: 120px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
}


