.benefits__container {
    // padding-top: 94px;
    // padding-bottom: 94px;
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
}

.benefit__list {
    // display: flex;
    // flex-direction: row;
    // gap: 30px;
    
}

.benefit__item {
    // width: 270px;

        width: 450px;
        margin-bottom: 30px;
    
    
}

.benefit__title {
    // margin-bottom: 10px;
    // font-weight: 700;
    //     font-size: 14px;
    //     line-height: 1.14;
    //     letter-spacing: 0.03em;
    //     text-transform: uppercase;
    //     color: var(--dark-grey-color);


    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--dark-grey-color);

        text-align: center;
}

// .benefit__text {
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--light-gray-color);
// }

.benefit__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--light-gray-color);
}

.benefit__picture {
    // display: flex;
    // align-items: center;

    // background-color: var(--dirty-white-color);
    // width: 270px;
    // height: 120px;
    // margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dirty-white-color);
    

    width: 450px;
    height: 120px;
    margin-bottom: 30px;
}


